body {
  background: #0d1117;
  color: #fff;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #161b22;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 15px #333;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #238636;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2ea043;
}
